* {
  margin: 0;
  padding: 0;
}

.head{
   margin-top:15px; 
  background-color:grey;
  color:whitesmoke;
  text-align:center;
}
h4{
  color: darkslategray;
  text-align: center;
  margin-top:70px;
  font-size:30px;
}
p{
  color: darkslategray;
  text-align: center;
  font-size:20px;
  margin-top:5px;
}
body {
  background-attachment: fixed;
  background: url(https://img.freepik.com/vector-gratis/fondo-patron-signo-porcentaje-moderno-calcular-tasas-interes_1017-45135.jpg?w=1380&t=st=1690562688~exp=1690563288~hmac=ed7ad22bb3ed4d524e0ecdee054e348c210e207643ebe67b3e8359268211d6dd);
  background-size: cover;
}
/* .cal {
  background-attachment: fixed;
  background: url(https://wallpapers.com/images/file/design-black-background-1920-x-1080-yoabdx653wtusl3v.jpg);
  background-size: cover;
} */

.cal {
  text-align: center;
  color: black;
  background-color: lightgrey;
  border: 5px solid;
  border-color: grey;
  margin: 80px;
  margin-left: 400px;
  margin-right: 400px;
  
  
}

h1 {
  font-size: 50px;
}
.inp {
  margin-top: 40px;
}
input {
  width: 450px;
  height: 23px;
  font-size: 20px;
}

#number{
  margin-left:15px;
}
#numlab{
  margin-left:10px;
}
#result{
  margin-left:18px;
}
#resultlab{
  margin-left:20px;
}

#reset {
  height:40px;
  width:70px;
  border-radius: 10px;
  background-color: gray;
  color: azure;
  border-color: azure;
  margin-left:220px;
}
#button {
  
  height:40px;
  width:100px;
  border-radius: 10px;
  background-color: darkslateblue;
  color: azure;
  border-color: azure;
  margin-left:30px;
  
}

button {
  font-weight: 700;
  font-size:15px;
 
}

label {
  font-weight: 600;
  font-size: 20px;
}

.body {
  text-align: start;
  margin-left: 35px;
}

.cal2{
  margin-top:200px;
  text-align: center;
  color: black;
  background-color: lightgrey;
  border: 5px solid;
  border-color: grey;
  margin: 80px;
  margin-left: 400px;
  margin-right: 400px;
}
#num2Lab{
  margin-left:10px;
}

#result2{
  margin-left:18px;
}
.head h5{
  font-size:30px;
  text-align: start;
  margin-left:400px;
  margin-top:50px;
}
.head p{
  margin-left:400px;
  margin-right:400px;
  text-align: start;
  color:whitesmoke;
}
