* {
  margin: 0;
  padding: 0;
}
body {
  background-attachment: fixed;
  background: url(https://img.freepik.com/vector-gratis/fondo-patron-signo-porcentaje-moderno-calcular-tasas-interes_1017-45135.jpg?w=1380&t=st=1690562688~exp=1690563288~hmac=ed7ad22bb3ed4d524e0ecdee054e348c210e207643ebe67b3e8359268211d6dd);
  background-size: cover;
}
.cal {
  background-attachment: fixed;
  background: url(https://wallpapers.com/images/file/design-black-background-1920-x-1080-yoabdx653wtusl3v.jpg);
  background-size: cover;
}

.cal {
  text-align: center;
  color: whitesmoke;
  margin-top: 200px;
}

h1 {
  font-size: 50px;
}
.inp {
  margin-top: 10px;
  
}
button {
  padding: 7px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 10px;
  background-color: darkslateblue;
  color: azure;
  border-color: azure;
}

#perc-img img {
  height: 150px;

  margin-left: 1000px;
}
